@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Admin/**/*';
@source '../../../../resources/views/filament/admin/**/*';
@source '../../../../vendor/bezhansalleh/filament-exceptions/resources/views/**/*.blade.php';
